@import "../../variables.scss";

.table-container {
  display: flex;
  flex-direction: column;

  .filter-section,
  .editor-form {
    width: 100%;
    padding: 0.5rem;
    display: flex;

    gap: 1rem;

    label {
      padding-right: 0.75rem;
    }
    .form-item {
      padding-right: 2rem;
    }
    @media (max-width: 640px) {
      flex-direction: column;
    }
  }

  .filter-section {
    .form-item {
      padding-left: 1rem;
    }
  }

  .scroll-wrapper {
    overflow-x: auto;
    padding: 0 1.5rem;

    @media (min-width: 640px) {
      margin: 0 -1.5rem;
    }

    @media (min-width: 1024px) {
      margin: 0 -2rem;
    }

    @media (max-width: 767px) {
      .responsive-hide {
        display: none;
      }
    }

    .table-wrapper {
      display: inline-block;
      width: 100%;
      padding: 0.5rem;

      table {
        width: 100%;
        text-align: left;
        font-size: 0.875rem;
        font-weight: 300;

        thead {
          border-bottom: 1px solid $light-border;

          th {
            padding: 0.5rem 1.5rem;
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid $light-border;
            transition: background-color 0.3s ease-in-out;

            &:hover {
              background-color: mix($light-background, $secondary-color, 5%);
            }

            td {
              padding: 0.5rem 1.5rem;
              white-space: nowrap;
            }

            &:nth-child(odd) {
              background-color: $light-background;
            }
          }
        }
      }
    }
  }
}
