$primary-color: #4a90e2;
$secondary-color: #555657;
$light-background: #f7fafc;
$dark-background: #1a202c;
$light-border: #e2e8f0;
$dark-border: #4a5568;
$text-color: #2d3748;
$subtle-text-color: #a3a4a7;
$light-text-color: #ffffff;
$error-color: #e57373;

$fade-in-duration: 0.5s;
$slide-in-duration: 1s;

$border-radius: 0.375rem;
