.login-page-wrapper {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  .brand-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;

    @media (max-width: 767px) {
      flex-direction: column;
    }
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;

    &.slide-in {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .form-wrapper {
    @media (max-width: 767px) {
      min-width: 350px;
    }
    display: flex;
    flex: 2;
  }
}
